@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  animation: typing 1.5s steps(15), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  0% {
    width: 0;
    border-right: 6px solid;
  }

  100% {
    width: 15ch;
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.reveal-after-2-seconds {
  animation: reveal 2.3s;
}

.reveal-after-3-seconds {
  animation: reveal 2.9s;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-16px);
  }
}

.scroll-icon {
  animation: reveal 3s, bounce 1s infinite alternate 1s;
  fill: gray;
}

.out {
  opacity: 0;
  animation: out 3s;
  filter: blur(8px);
  transition: all 0.6s;
  transform: translateX(-250%);
}

.in {
  opacity: 1;
  animation: in 1s;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
}

.card:nth-child(2) {
  transition-delay: 0.2s;
}
.card:nth-child(3) {
  transition-delay: 0.4s;
}
.card:nth-child(4) {
  transition-delay: 0s;
}
.card:nth-child(5) {
  transition-delay: 0.2s;
}
.card:nth-child(6) {
  transition-delay: 0.4s;
}
